h1 {
   font-family: sans-serif,monospace;
   font-size: 20pt
   text-align:center;
   font-weight: bold;
}

h2 {
   font-family: serif, monospace;
   font-size: 16pt
  font-weight:lighter;
  p::first-letter {T}
color: red;
}
a:link {
   color: #rgb(255, 0, 0);0.5;
   text-decoration: underline;
