.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: relative;
    border: 1px solid #black;
    margin: 0;
    color: #black;
    background-color: #blue;
    z-index: 1;
}
.dropdown-content a {
    color: #black;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown-item {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #red;
    background-color: #black;
}
