header {
    background-color: black;
    text-color: white;
    font-family: sans-serif;
    font-size: 40pt;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 5px
    padding: 0.25em;
}
